{% extends 'store/layout.html' %}

{% block title %}Order {% endblock %}

{% block body %}
<div class="jumbotron container alert alert-danger text-center">
    <h1 class="display-3">Payment Failed</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nesciunt eius voluptatem dolore quam consectetur! Alias dolor quidem, quam iusto dignissimos sunt rem saepe, nihil impedit est placeat quis voluptate.</p>
    <hr class="my-2">
    <p class="lead">
        Your Payment Has Failed
    </p>
</div>


{% endblock %}