{% extends 'store/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="col-lg-3 mx-auto border rounded p-3 mb-5 mt-5">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="display-4 text-center mt-3 mb-4">Reset Password</h1>
        <div class="text-center ">
            <img style="height:90px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIWPwapCnMxSBk3fIGUIA8oJc72lq5RXuvWA&usqp=CAU">
        </div>
        <hr class="mb-5">
        {{form|crispy}}
        <div class="form-group">
        <input type="submit"  id="" class="btn btn-lg btn-block btn-info mb-5 mt-5" value="Send E-mail">
        </div>
    </form>
</div>
{% endblock %}